@import "../partials/footer";
@import "../partials/header.scss";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.reponav {
    position: relative;
    top: 1px;
    margin-top: -5px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.btn {
    position: $position-relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
   
}

  img {
    vertical-align: text-top;
}
.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}


.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*header section*/
@mixin padding($value) {
padding-top: $value;
padding-bottom: $value;}
.repohead.experiment-repo-nav {
    padding-bottom: $repohead-experiment-repo-nav-padding-bottom;
    background-color:$repohead-experiment-repo-nav-background-color;
}

.pagehead {
    position: $position-relative;
    @include padding($pagehead-padding); 
    margin-bottom: $pagehead-margin-bottom;
    border-bottom: $pagehead--bottom;
           ul.pagehead-actions {
                  position: $position-relative;
                  z-index: $pagehead-ul-pagehead-actions-z-index;
                  float: $pagehead-ul-pagehead-actions-float;
                  margin: $margin-zero;
                }
           h1 {
                 margin-top: $margin-top-zero;
                 margin-bottom: $margin-bottom-zero;
                 font-size: 20px;
                 font-weight: normal;
                 line-height: 28px;
                }
}



.starring-container.on .unstarred, .starring-container .starred {display: none;}

.select-menu-button::after {
    display:$select-menu-button-after-display;
    width: $select-menu-button-after-width;
    height: $select-menu-button-after-height;
    vertical-align: $select-menu-button-after-vertical-align;
    content:$select-menu-button-after-content;
    border:$select-menu-button-after-border;
    border-right-color: $select-menu-button-after-border-color;
    border-bottom-color: $select-menu-button-after-border-color;
    border-left-color: $select-menu-button-after-border-color;
}

.reponav-item {
    float:  $float-left;
    padding: $reponav-item-padding;
    color: $reponav-item-color;
    white-space: $reponav-item-white-space;
    border:$reponav-item-border;
    border-width: $reponav-item-border-width;
    border-radius:$reponav-item-border-radius;
        .Counter {
             color: $reponav-item-Counter-color;
        }
        .fa {
                 color: $reponav-item-octicon-color;
                    }
}

.Counter {
    display:$Counter-display;
    padding:$Counter-padding;
    font-size:$Counter-font-size;
    font-weight: $Counter-font-weight;
    line-height: $Counter-line-height;
    color: $Counter-color;
    background-color:$Counter-background-color;
    border-radius:$Counter-border-radius;
}


.social-count {
    float: $float-left;
    padding: $social-count-padding;
    font-size: $social-count-font-size;
    font-weight: $social-count-font-weight;
    line-height: $social-count-font-line-height;
    color: $social-count-font-color;
    vertical-align: $social-count-font-vertical-align;
    background-color: $social-count-font-background-color;
    border: $social-count-font-border;
    border-left:$social-count-font-border-left;
    border-top-right-radius: $social-count-font-border-radius;
    border-bottom-right-radius: $social-count-font-border-radius;
}


.select-menu-modal-holder {
    position: $position-absolute;
    z-index: $select-menu-modal-holder-z-index;
    display: $select-menu-modal-holder-display;
}
.pagehead-actions{
                >li {
                   float: left;
                   margin: 0 10px 0 0;
                   font-size: 11px;
                   color: #24292e;
                   list-style-type: none;
                    }
                  .select-menu-modal-holder {
                   top:$pagehead-actions-select-menu-modal-holder-top;
                    }
}

.repohead {
                  h1 {
                      position: $position-relative;
                      float: $float-left;
                      max-width: $repohead-h1-max-width;
                      padding-left: $repohead-h1-padding-left;
                      font-size: $repohead-h1-font-size;
                      line-height: $repohead-h1-line-height;
                      color: $repohead-h1-color;

                      .octicon {
                           position: $position-absolute;
                           top:$repohead-h1-octicon-top;
                           left: $repohead-h1-octicon-left;
                           margin-top: $repohead-h1-octicon-margin-top;
                           color:$repohead-h1-octicon-color;
                                }
                        }
                 .repohead-details-container {
                       margin-bottom: $repohead-repohead-details-container-margin-bottom;
                           }

}
.issuenumberright{
    display:none;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.octicon {
    vertical-align: text-bottom;
    color: rgba(27,31,35,0.3);
}
.table-list-header-toggle.states .selected {
    font-weight: 600;
}
.table-list-filters .row{padding:0;margin:0;}

.table-list-header-toggle {
 
        .btn-link+.btn-link {
    margin-left: 10px;
}
    .select-menu-button {
    padding-right: 15px;
    padding-left: 15px;
}
                   
            .select-menu {
    position: relative;    display: inline-block;
}
.btn-link {
    color: #586069;
}

}


.table-list-header {
    position: relative;
    margin-top: 20px;
    background-color: rgb(246, 248, 250);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 228, 232);
    border-image: initial;
    border-radius: 3px 3px 0px 0px;
        border-bottom: none;
    .btn-link {
    position: relative;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: normal;
}
}


.link-gray-dark {
    padding:8px;
color:$gray-darker;
    font-size: 12px;
}
.muted-link{
        font-size: 12px!important;
}
.opened-by, .muted-link{
color: #586069 !important;
}
.link-gray-dark a{color:$gray-darker;
                  font-size:16px;
}
.link-gray-dark a:hover {
    text-decoration:none;
color: #0366d6 !important;
}
.fontwt{
    font-weight: 600;
}
.list-group-item .row {
      margin-left: 0px!important; 
     margin-right: 0px!important; 
}
.timeline-comment-header {
    padding-right: 15px;
    padding-left: 15px;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.timeline-comment-header-text {
    max-width: 78%;
    font-weight:normal;
    line-height: 1.5;
    color: #586069;
}
.header-text{
        padding-top: 4px;
}
.comment-body {
    width: 100%;
    padding: 15px;
    overflow: visible;
    font-size: 14px;
    text-align:justify;
}
.headerlink{font-weight: 600; color: #586069; }
.timeline-comment-wrapper {
    position: relative;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    float: left;
    width: 760px;
}
.timeline-comment-avatar {
    float: left;
    margin-left: -60px;
    border-radius: 3px;
}
.timeline-comment {
    position: relative;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.gh-header-meta {
    padding-bottom: 20px;
    margin-top: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #586069;
    border-bottom: 1px solid #e1e4e8;
}
.profileimg{height: 44px; width: 44px; }
.State--green {background-color: #2cbe4e; 
     margin-right: 8px; }
.State {
    font-size: 14px;
    display: inline-block;
    padding: 2px 6px;
    font-weight: 600;
    line-height: 20px;
    color: #fff!important;
    text-align: center;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",FontAwesome;
}
.pcolor{ font-weight: 300; color: #a3aab1; letter-spacing: -1px;font-size:32px;}
.pfont{font-size:32px;}
.selected .fa{    color: rgba(27, 31, 35, 0.3); }
.reponav-item:hover,.reponav-item.fa:hover,.reponav-item:focus{color:#24292e;text-decoration:none}
.reponav-item.selected,.reponav-item.selected .fa{/*color:#24292e;*/background-color:#fff;border-color:#e36209 #e1e4e8 transparent}
/*end*/


/* Custom page footer */

.footer {
  padding-top:$footer-padding-top;
  color:$footer-color;
  border-top:$footer-border-top;
}
.site-footer-links{
        li {
             display: $site-footer-links-li-display;
             line-height:$site-footer-links-li-line-height;
            }

}
.site-footer {
    width: 94%;
    margin-left: 3%;
    position: $site-footer-position;
    padding-top:$site-footer-padding-top;
    padding-bottom:$site-footer-padding-bottom;
    margin-top:$site-footer-margin-top;
    font-size:$site-footer-font-size;
    line-height: $site-footer-line-height;
    color: $site-footer-color;
    border-top:$site-footer-border-top;

    .octicon-mark-github:hover 
            {
              color: $site-footer-octicon-mark-github-hover-color;
            }
    .octicon-mark-github
            {
              position: $site-footer-octicon-mark-github-position;
              top: $site-footer-octicon-mark-github-top;
              left: $site-footer-octicon-mark-github-left;
              margin-left: $site-footer-octicon-mark-github-margin-left;
              font-size: $site-footer-octicon-mark-github-font-size;
              color:$site-footer-octicon-mark-github-color;
             }
}
.float-right {
    float: $float-right-float!important;
}

a { color: $a-color;}

.site-footer-links {
    margin: $site-footer-links-margin;
    list-style:$site-footer-links-list-style;
    li+li
          {
             margin-left: $site-footer-links-li-li-margin-left;
          }
}

ul, ol {padding-left: $ul-ol-padding-left;}

.container-lg {
    max-width:$container-lg-max-width;
    margin-right: $container-lg-margin-right;
    margin-left: $container-lg-margin-left;
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container { 
       width: 980px;
        margin-right: auto;
    margin-left: auto;
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
 
}
@media screen and (max-width: 768px) {
     .repohead h1 { text-align:center; float:none;}
     .states{ width:100%;}
    .states .btn-link{ width: 50%; float: left; text-align:center; }
    .table-list-header-toggle .btn-link + .btn-link {
     margin-left: 0px; 
}
    .issuenumberright{
    display:block;
    margin-top: 5px;
    margin-right: 10px;
        font-size: 11px;
}
    .issuenumberleft, .mobilehideclass, .site-footer-links{
        display:none;
    }
    .link-gray-dark a {
    font-size: 14px;
}
    .table-list-header-toggle.states .selected {
    border-right: 1px solid #e1e4e8;
}
    .site-footer .octicon-mark-github {
    position: absolute;
    top: 38px;
     left: 0%; 
    font-size: 24px;
    color: #c6cbd1;
}
    .timeline-comment-wrapper {
   width:100%;
}
    .titleinfo{margin-top:8px; }
    .pcolor{font-size:16px;}
    .pfont{font-weight: bold; font-size:16px;}
    .Statedesktop, .deskimg, .mobiletext{ display:none;}
    .mobileimg{display:block!important; }
    .statemobile{ display:inline-block!important;}
    .timeline-comment-avatar {margin-left:0px; }
   .timeline-comment-wrapper { padding-left: 0px; border:none; }
   .timeline-comment { border:none;  }
   .timeline-comment-header { border-bottom:none; }  
   .comment-body-container{ border-bottom: 1px solid #dfe2e5; }
   }

.statemobile{ display:none;}
 .mobileimg{display:none; }