@import "../partials/footer";
@import "../partials/header.scss";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.btn {
    position: $position-relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
     .octicon {
    vertical-align: text-top;
}
}


.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}


.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*header section*/
@mixin padding($value) {
padding-top: $value;
padding-bottom: $value;}
.repohead.experiment-repo-nav {
    padding-bottom: $repohead-experiment-repo-nav-padding-bottom;
    background-color:$repohead-experiment-repo-nav-background-color;
}

.pagehead {
    position: $position-relative;
    @include padding($pagehead-padding); 
    margin-bottom: $pagehead-margin-bottom;
    border-bottom: $pagehead--bottom;
           ul.pagehead-actions {
                  position: $position-relative;
                  z-index: $pagehead-ul-pagehead-actions-z-index;
                  float: $pagehead-ul-pagehead-actions-float;
                  margin: $margin-zero;
                }
           h1 {
                 margin-top: $margin-top-zero;
                 margin-bottom: $margin-bottom-zero;
                 font-size: 20px;
                 font-weight: normal;
                 line-height: 28px;
                }
}



.starring-container.on .unstarred, .starring-container .starred {display: none;}

.select-menu-button::after {
    display:$select-menu-button-after-display;
    width: $select-menu-button-after-width;
    height: $select-menu-button-after-height;
    vertical-align: $select-menu-button-after-vertical-align;
    content:$select-menu-button-after-content;
    border:$select-menu-button-after-border;
    border-right-color: $select-menu-button-after-border-color;
    border-bottom-color: $select-menu-button-after-border-color;
    border-left-color: $select-menu-button-after-border-color;
}

.reponav-item {
    float:  $float-left;
    padding: $reponav-item-padding;
    color: $reponav-item-color;
    white-space: $reponav-item-white-space;
    border:$reponav-item-border;
    border-width: $reponav-item-border-width;
    border-radius:$reponav-item-border-radius;
        .Counter {
             color: $reponav-item-Counter-color;
        }
        .octicon {
                 color: $reponav-item-octicon-color;
                    }
}

.Counter {
    display:$Counter-display;
    padding:$Counter-padding;
    font-size:$Counter-font-size;
    font-weight: $Counter-font-weight;
    line-height: $Counter-line-height;
    color: $Counter-color;
    background-color:$Counter-background-color;
    border-radius:$Counter-border-radius;
}


.social-count {
    float: $float-left;
    padding: $social-count-padding;
    font-size: $social-count-font-size;
    font-weight: $social-count-font-weight;
    line-height: $social-count-font-line-height;
    color: $social-count-font-color;
    vertical-align: $social-count-font-vertical-align;
    background-color: $social-count-font-background-color;
    border: $social-count-font-border;
    border-left:$social-count-font-border-left;
    border-top-right-radius: $social-count-font-border-radius;
    border-bottom-right-radius: $social-count-font-border-radius;
}


.select-menu-modal-holder {
    position: $position-absolute;
    z-index: $select-menu-modal-holder-z-index;
    display: $select-menu-modal-holder-display;
}
.pagehead-actions{
                >li {
                   float: left;
                   margin: 0 10px 0 0;
                   font-size: 11px;
                   color: #24292e;
                   list-style-type: none;
                    }
                  .select-menu-modal-holder {
                   top:$pagehead-actions-select-menu-modal-holder-top;
                    }
}

.repohead {
                  h1 {
                      position: $position-relative;
                      float: $float-left;
                      max-width: $repohead-h1-max-width;
                      padding-left: $repohead-h1-padding-left;
                      font-size: $repohead-h1-font-size;
                      line-height: $repohead-h1-line-height;
                      color: $repohead-h1-color;

                      .octicon {
                           position: $position-absolute;
                           top:$repohead-h1-octicon-top;
                           left: $repohead-h1-octicon-left;
                           margin-top: $repohead-h1-octicon-margin-top;
                           color:$repohead-h1-octicon-color;
                                }
                        }
                 .repohead-details-container {
                       margin-bottom: $repohead-repohead-details-container-margin-bottom;
                           }

}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.octicon {
    vertical-align: text-bottom;
}
.reponav-item:hover,.reponav-item:focus{color:#24292e;text-decoration:none}
.reponav-item.selected{color:#24292e;background-color:#fff;border-color:#e36209 #e1e4e8 transparent}
/*end*/


/* Custom page footer */

.footer {
  padding-top:$footer-padding-top;
  color:$footer-color;
  border-top:$footer-border-top;
}
.site-footer-links{
        li {
             display: $site-footer-links-li-display;
             line-height:$site-footer-links-li-line-height;
            }

}
.site-footer {
    position: $site-footer-position;
    padding-top:$site-footer-padding-top;
    padding-bottom:$site-footer-padding-bottom;
    margin-top:$site-footer-margin-top;
    font-size:$site-footer-font-size;
    line-height: $site-footer-line-height;
    color: $site-footer-color;
    border-top:$site-footer-border-top;

    .octicon-mark-github:hover 
            {
              color: $site-footer-octicon-mark-github-hover-color;
            }
    .octicon-mark-github
            {
              position: $site-footer-octicon-mark-github-position;
              top: $site-footer-octicon-mark-github-top;
              left: $site-footer-octicon-mark-github-left;
              margin-left: $site-footer-octicon-mark-github-margin-left;
              font-size: $site-footer-octicon-mark-github-font-size;
              color:$site-footer-octicon-mark-github-color;
             }
}
.float-right {
    float: $float-right-float!important;
}

a { color: $a-color;}

.site-footer-links {
    margin: $site-footer-links-margin;
    list-style:$site-footer-links-list-style;
    li+li
          {
             margin-left: $site-footer-links-li-li-margin-left;
          }
}

ul, ol {padding-left: $ul-ol-padding-left;}

.container-lg {
    max-width:$container-lg-max-width;
    margin-right: $container-lg-margin-right;
    margin-left: $container-lg-margin-left;
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container { 
       width: 980px;
        margin-right: auto;
    margin-left: auto;
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
