<div >
 <div class="table-list-header" id="js-issues-toolbar">
    
         <div class="table-list-filters">
             <div class="row">
                 <div class="table-list-header-toggle states float-left pl-3">
                     <a href="" class="btn-link selected">
                         <i class="fa fa-exclamation-circle " aria-hidden="true"></i>
                         {{repo.open_issues_count}} Open
                     </a>

                     <a href="" class="btn-link ">
                         <i class="fa fa-check" aria-hidden="true"></i>
                         539 Closed
                     </a>
                 </div>


                 <div class="table-list-header-toggle float-right mobilehideclass">
                     <div class="float-left select-menu js-menu-container js-select-menu" data-contents-url="/aurelia/framework/issues/show_menu_content?partial=issues%2Ffilters%2Fauthors_content&amp;q=is%3Aissue+is%3Aopen">
                         <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false" data-hotkey="u">
                             Author
                         </button>


                     </div>

                     <div class="float-left select-menu label-select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="/aurelia/framework/issues/show_menu_content?partial=issues%2Ffilters%2Flabels_content&amp;q=is%3Aissue+is%3Aopen">
                         <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false" data-hotkey="l">
                             Labels
                         </button>


                     </div>


                     <div class="float-left select-menu js-menu-container js-select-menu" data-contents-url="/aurelia/framework/issues/show_menu_content?partial=issues%2Ffilters%2Fprojects_content&amp;pulls_only=false&amp;q=is%3Aissue+is%3Aopen">
                         <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false" data-hotkey="m">
                             Projects
                         </button>


                     </div>


                     <div class="float-left select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="/aurelia/framework/issues/show_menu_content?partial=issues%2Ffilters%2Fmilestones_content&amp;q=is%3Aissue+is%3Aopen">
                         <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false" data-hotkey="m">
                             Milestones
                         </button>


                     </div>

                     <div class="float-left select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="/aurelia/framework/issues/show_menu_content?partial=issues%2Ffilters%2Fassigns_content&amp;q=is%3Aissue+is%3Aopen">
                         <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false" data-hotkey="a">
                             Assignee
                         </button>


                     </div>


                     <div class="float-left select-menu js-menu-container js-select-menu">
                         <button class="btn-link select-menu-button icon-only js-menu-target" type="button" aria-haspopup="true" aria-expanded="false">
                             Sort<span class="sort-label"></span>
                         </button>


                     </div>

                 </div>
             </div>
     </div>
     </div>



    <ul class="list-group">
        <li class="list-group-item p-0" ng-repeat="issue in issues">
            <div class="row">
               
                      <div class="float-left pt-2 pl-3" aria-label="Open issue">
                            <i class="fa fa-exclamation-circle text-info" aria-hidden="true"></i>
                        </div>
                    <div class="float-left pt-2 pl-2"> </div>
                <span class="opened-by issuenumberright float-right">
                    #{{issue.number}}
                </span>
                <div ng-if="issue.comments > 0" class="float-right col-5 no-wrap pt-2 pr-3 text-right commentbox">
                    <a href="#" class="muted-link" aria-label="2 comments">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <span class="text-small text-bold">{{issue.comments}}</span>
                    </a>
                </div>
                    <div class="float-left col-9 p-2 lh-condensed link-gray-dark">
                       
                        <a ng-href="#/issue/{{issue.number}}" class="no-underline h4 js-navigation-open">
                            {{issue.title}} 
                        </a>
                        <span ng-if="issue.labels.length > 0" class="labels lbldesktop">
                        <a ng-href="#" ng-repeat="label in issue.labels"  class="label v-align-text-top labelstyle-{{label.color}} linked-labelstyle-{{label.color}}">{{label.name}}</a>
                        </span>
                       
                        <div class="mt-1 text-small text-gray">
                            <span class="opened-by issuenumberleft">
                                #{{issue.number}}
                            </span>
                                <span class="opened-by">
                                    opened <span am-time-ago="issue.created_at"></span> by
                                    <a ng-href="{{issue.user.html_url}}" class="muted-link" title="Open issues created by arshaw">{{issue.user.login}}</a>

                                </span>





                                <span class="issue-meta-section css-truncate issue-milestone ml-2">
                                </span>
</div>
                        <span ng-if="issue.labels.length > 0" class="labels lblmobile">
                            <a ng-href="#" ng-repeat="label in issue.labels" class="label v-align-text-top labelstyle-{{label.color}} linked-labelstyle-{{label.color}}">{{label.name}}</a>
                        </span>
                    </div>
                 
            </div>
                
            </li>
    </ul>
</div>



